.advanceservices-container {
  padding: 40px 0;
  position: relative;
  background-color: white;
  margin-bottom: 300px;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: #f4f4f4;
  position: relative;
  margin: 0;
}

.subtitle {
  font-size: 34px;
  color: black;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
  margin-top: -32px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px 20px;
  padding: 0 70px;
  width: 98.9vw;
  margin: auto;
  margin-bottom: 60px;
}

.service-card {
  background-color: #f8f8f8;
  padding: 30px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.service-card:hover {
  background-color: #cc1616;
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.service-image-container {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.service-image {
  width: 100%;
  max-width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.service-icon-container {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.service-icon-border {
  width: 80px;
  height: 80px;
  background-color: #ffd6d2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.service-icon {
  width: 60px;
  height: 60px;
  background-color: #cc1616;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  transition: all 0.3s ease;
}

.service-card:hover .service-icon {
  background-color: white;
  color: #cc1616;
}

.service-card:hover .service-icon-border {
  background-color: #cc1616;
}

.service-title {
  text-align: center;
  margin: 40px 0 20px;
  color: #333;
  font-size: 22px;
  transition: all 0.3s ease;
}

.service-description {
  text-align: center;
  line-height: 1.6;
  font-size: 16px;
  color: #666;
  padding: 0 20px;
  margin-bottom: 80px;
  transition: all 0.3s ease;
}

.service-card:hover .service-title,
.service-card:hover .service-description {
  color: white;
  transform: translateY(-10px);
}

.accordion-wrapper {
  padding: 40px 100px;
}

.accordion-header {
  border: 1px solid black;
  border-radius: 10px;
  padding: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #f7f7f7;
  transition: background 0.3s;
}

.accordion-header:hover {
  background-color: #eaeaea;
}

.accordion-body {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 17px;
  background-color: #fff;
  animation: fadeIn 0.3s ease-in-out;
}

.rotate-icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.accordion-item {
  border-left: 5px solid transparent;
  transition: all 0.3s ease;
  /* margin-bottom: 15px; */
  border-radius: 10px;
  padding: 10px;
}

.accordion-item.open {
  border-left: 5px solid #5fc5ff;
  box-shadow: 0 4px 15px rgba(59, 130, 246, 0.2);
  background-color: #f9f9ff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.features-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  padding-left: 10px;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.feature-icon {
  color: #cc1616;
  font-size: 16px;
}

.client-section {
  text-align: center;
  padding: 40px 0;
}

.slider-container {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px 0;
  position: relative;
}

.slider {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

/* .slider:hover {
  animation-play-state: paused;
} */

.slider img {
  width: 120px;
  height: 120px;
  margin: 0 20px;
  object-fit: contain;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.accordion-title {
  font-size: 19px;
  font-weight: 400;
  font-family: Arial, sans-serif;
}

.accordion-description {
  font-size: 15px;
  color: #454645;
}

.key-features-title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #454645;
}

.feature-text {
  font-size: 17.5px;
  color: #454645;
}

@media (max-width: 768px) {
  .title {
    font-size: 40px;
  }

  .subtitle {
    font-size: 24px;
    margin-top: -25px;
  }

  .services-grid {
    grid-template-columns: 1fr;
    padding: 0 33px;
  }

  .service-card {
    width: 100%;
  }

  .service-image {
    height: 200px;
  }

  .service-title {
    font-size: 28px;
    margin: 30px 0 15px;
  }

  .service-description {
    font-size: 17px;
    margin-bottom: 60px;
    padding: 0 15px;
  }
  .accordion-wrapper {
    padding: 20px;
  }
  .slider img {
    width: 80px;
    height: 80px;
    margin: 0 10px;
  }
  .accordion-title {
    font-size: 17px;
  }

  .accordion-description {
    font-size: 14px;
  }

  .key-features-title {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .feature-text {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 20px;
    margin-top: -20px;
  }

  .service-card {
    padding: 20px 10px;
  }

  .service-description {
    font-size: 14px;
  }
  .accordion-title {
    font-size: 16px;
  }

  .accordion-description {
    font-size: 13px;
  }

  .key-features-title {
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .feature-text {
    font-size: 15px;
  }
}
